main {
    height: 100vh;
}

.hero-description {

    /*background: url('../images/about-hero-img.jpg') no-repeat center / cover;*/
    background-color: gray;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-family: var(--primary-font);
    line-height: 1.2;
    text-align: center;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.vission-mission-container {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 3rem;
}

.vission-mission {
    padding: 30px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
