main {
    display: flex;
    justify-content: space-evenly;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
    font-family: var(--primary-font);
}

iframe {
    width: 40%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: -0px -0px 7px rgba(0, 0, 0, 0.4);
}

.form-box {
    width: 40%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 30px;
    
}


.form-box {
    background: #ffffff;
    border-radius: 12px;
    max-width: 550px;
}

.form-box h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
    resize: none;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #4a90e2;
    outline: none;
}

.send-btn {
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background: #3577c8;
}
